.frame1 {
    height: 100vh;
    width: 100%;
    position: relative;
    top: -10px;
    left: -10px;


}
.left {
    position: absolute;
    width: 720px;
    height: 100vh;


background: #EEEEEE;
}
.hinhdn {
    width: 700px;
    height: 700px;


}
.right {
    position: absolute;
width: 720px;
height: 100vh;
left: 720px;
top: 0px;

background: #FFFFFF;
}
.a1 {
position: absolute;
width: 434px;
height: 40px;
left: 180px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;

color: #77AB82;
font-family: Times New Roman Times;
}

.a2 {
position: absolute;
width: 328px;
height: 30px;
left: 130px;
top: 130px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #B0B0B0;
font-family: Times New Roman Times;

}

.a3 {
    position: absolute;
    width: 381px;
    height: 57px;
    left: 130px;
    bottom: 716px;
    top: 160px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    align-items: center;
    font-family: Times New Roman Times;

    
    color: #000000;
}


#email1 {
    position: absolute;
    width: 80px;
    height: 34px;
    left: 130px;
    top: 270px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    font-family: Times New Roman Times;

    
    color: #585858;
}

#email2 {
    position: absolute;
    width: 498px;
    height: 55px;
    left: 130px;
    top: 320px;
    
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Times New Roman Times;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #959494;
}

#password1 {

    position: absolute;
    width: 132px;
    height: 34px;
    left: 130px;
    top: 410px;
    font-family: Times New Roman Times;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #585858;
}

#password2 {
    position: absolute;
    width: 498px;
    height: 55px;
    left: 130px;
    top: 450px;
    
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Times New Roman Times;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #959494;
}

.btn {
    position: absolute;
    width: 498px;
    height: 72px;
    left: 130px;
    top: 560px;
    font-family: Times New Roman Times;
 
    background: #77AB82;
    border-radius: 10px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
/* identical to box height */


color: #FFFFFF;
}